header { 
    list-style-type: none;
    padding: 10px; 
    display: flex;
    background-color: #458B74;
}
.page-header { 
    background-color: #D6C9CC; 
    padding: 5px;
}
nav a{ 
    justify-content: space-evenly;
    padding-inline: 5px; 
    text-decoration: none;  
    color: black;
    font-size: large;

} 
.logo img { 
    width: 40px;
    height: auto; 
    border-radius: 50%;
} 
body { 
    background-color: #c9d6d3; 
}
p {
    font-family: Arial;
}
.home-image { 
    width: 40%; 
    max-width: 40%;
    height: auto; 
    justify-content: center; 
    padding-bottom: 4px;

} 
.home-text {  
    border: solid black 3px; 
    padding-left: 5px; 
    display: flex; 
    flex-direction: column;
} 
.resume-link { 
    text-decoration: none; 
    color: black;
} 
.resume-link:hover {  
    text-decoration: none;
    color: gray;
} 
.resume-link:active { 
    text-decoration: none; 
    color: black;
}
.blog-posts { 
    display: flex; 
    justify-content: space-around;
}
.blog-posts img { 
    width: 250px; 
    height: auto;
}  
.links-header { 
color: black;
}
.github a { 
    color: white; 
    text-decoration: none; 
    padding: 4px; 
    
} 
.github a:hover { 
    color: yellow;
} 
.github img { 
    width: 50px; 
    height: auto;
} 
.github { 
    display: flex; 
    flex-direction: column;
    background-color: black; 
}
footer { 
    color: rgb(153, 150, 150);
}  