@import "./components/header"; 
@import "./components/footer"; 
@import"./defaults/color";

body { 
    margin: 0; 
    min-height: 100vh; 
    max-width: 100vw;
    background-color: $primary-background; 
    overflow-x: hidden;

}